/* =Reset
-------------------------------------------------------------- */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    margin: 0;
    font-weight: 300;
    background: white;
    color: black;
    scroll-behavior: smooth;
}

body.stop-scroll {
    height: 100%;
    overflow: hidden;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: var(--current-color);
    transition: all 300ms;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    border: 0;
    border-top: 1px dotted var(--current-color);
    margin: 2.4em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

template {
    display: none;
}

/* =GLOBAL
----------------------------------------------- */

body,
button,
input,
select,
textarea {
    font-size: 18px;
    line-height: 1.2;
    word-wrap: break-word;
    font-family: Rubik, sans-serif;
}

button {
    background: unset;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    transition: all 300ms;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;

}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 19px;
}

hr {

}

/* =TEXT ELEMENTS
----------------------------------------------- */
p {
    margin-bottom: 16px;
    font-size: 20px;
    transition: all 300ms;
}

p:last-child {
    margin-bottom: 0;
}

strong {
    font-weight: 500;
}

cite, em, i {
    font-style: italic;
}

pre {
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
    border: 1px solid #EAEAEA;
}

pre, code, kbd, var, samp, tt {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 14px;
    line-height: 19px;
    white-space: pre-wrap;
}

abbr, acronym, dfn {
    border-bottom: 1px dotted #666666;
    cursor: help;
}

address {
    display: block;
    font-style: italic;
    margin: 0 0 15px;
}

ins {
    background: #F8F8F8;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

div {
    transition: all 150ms;
}

/* =SUPERSCRIPT AND SUBSCRIPT
----------------------------------------------- */
sup, sub {
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

dl {
    margin-bottom: 24px;
    font-size: 16px;
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dd {
    margin-bottom: 24px;
}

ul,
ol {
    /*list-style: none;*/
    padding-left: 19px;

}

ol {
    list-style: decimal inside;

}

ol li {
    margin-bottom: 0.6em;
    line-height: 1.2em;
}

li > ul,
li > ol {
    margin: 0 0 0 10px;
}

/* =BLOCKQUOTE
----------------------------------------------- */
blockquote {
    font-style: italic;
    font-weight: 200;

    padding: 0 2em;
    border-left: 4px solid var(--current-color);
    margin-bottom: 20px;
    color: #cdcdcd;
}

blockquote p {
    font-size: 1em;
}

blockquote em, blockquote i, blockquote cite {
}

blockquote cite {
    color: var(--current-color);

    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

:root {
    --current-color: #F53838;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.logo img {
    width: 149px;
    height: 36px;
}

.menu {
    /*width: 93px;*/
    /*height: 19px;*/
    /*margin: 58.62px 456px;*/
}

.menu a {
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: #4F5665;
}

button.btn {
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 50px;
    box-sizing: border-box;
    padding: calc(21px / 2) 41px;
    font-weight: bold;
    line-height: 19px;
    font-size: 16px;
    text-transform: capitalize;
}

.sign a {
    color: #0B132A;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding: 0 30px;
    text-transform: capitalize;
}

.first h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A
}

.first p {
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

section {
    display: flex;
    align-items: center;
    padding: 50px;
}

section.plans {
    align-items: unset;
    justify-content: center;
}

.rbtn button {
    border-radius: 10px;
    border: 1px solid #F53838;
    background: #F53838;
    color: #FFFFFF;
    padding: 16px 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
}

.fpic img {
    height: 383px;
    width: 612px;
    float: right;
}

.start {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;

}

.stat {
    padding: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 33.33%;
}

.stat.border {
    border-right: 2px solid #EEEFF2;
    border-left: 2px solid #EEEFF2;
}

.user {
    display: flex;
    justify-content: space-between;

}

.statpic img {
    height: 56px;
    width: 55px;
    float: left;
}

.nine {
    margin: 0 35px;
}

.providepic {
    height: 416px;
    width: 510px;
}

.provide {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.second h1 {
    color: #0B132A;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.second {
    margin-left: 85px;
}

.second p {
    font-size: 16px;
    color: #4F5665;
    line-height: 30px;

}

.second img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    float: left;
}

.choose h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin: 40px 260px;
}

.choose p {
    margin: 40px 260px;
    text-align: center;
    color: #4F5665;
}

.choose {
    width: 100%;
}

.plan img {
    margin-right: 5px;

}

.box img {
    height: 167px;
    width: 146px;
    margin-top: 40px;
}

.options {
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}

.options li {
    list-style: none;

    line-height: 30px;
    padding-top: 20px;
    color: #4F5665;
    margin-left: 5px;

}

.options li p {
    font-size: 14px;
    text-align: left;
    display: inline-flex;
}

.options img {
    float: left;
    height: 25px;
    width: 25px;
}

.plan {
    text-align: center;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: space-between;
    margin: 0 26px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

.plan h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    margin-top: 20px;
}

.select {
    margin-bottom: 40px;
}

.select h2 {
    color: #0B132A;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
}

.btnsel {
    border: 2px solid #F53838;
    border-radius: 50px;
    box-sizing: border-box;
    padding: calc(39px / 2) 63px;
    font-weight: bold;
    line-height: 19px;
    font-size: 16px;
    text-transform: capitalize;
    color: #F53838;
}

.btnselred {
    border-radius: 50px;
    border: 1px solid #F53838;
    background: #F53838;
    color: #FFFFFF;
    padding: calc(39px / 2) 63px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.planred {
    text-align: center;
    border: 2px solid #F53838;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: space-between;
    margin: 0 26px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

.planred h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    margin-top: 20px;
}

section.Map {
    justify-content: center;
    display: flex;
}

section.Map img {
    width: 100%;
    max-width: 1000px;

}

section.nefl {
    justify-content: center;
    display: flex;
}

section.nefl img {
    width: 100%;
    max-width: 1000px;
}

.recpic h2{

}
.recpic p{

}

.price p {
    margin: 0 13px 0 0;
}

section.recommend {
    align-items: unset;
    box-sizing: border-box;
    justify-content: center;

}

.price {
    display: flex;
    align-items: center;
}

.rec {
    display: flex;
    border: 2px solid #F53838;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px;
    width: 33.33%;
    margin: 0 26px;
}

section.recommend p {
    display: flex;
    color: #0B132A;
    font-size: 16px;
    line-height: 30px;
}

.recpic {
    display: flex;
    justify-content: space-between;
    margin: 0 0 18px;
}
.recpic img{

}
.recg {
    display: flex;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px;
    width: 33.33%;
    margin: 0 26px;
}

.arrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.left {
    border: 2px solid #F53838;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: url("images/arrow-left.png") no-repeat center;
}

.right {
    border: 2px solid #F53838;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #F53838 url("images/arrow-right.png") no-repeat center;
}

.text h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
}

.text p {
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.end {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.fot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.mess img {
    width: 70px;
    height: 70px;
}

.product li {
    list-style: none;
    font-size: 16px;
   margin-bottom: 25px;
    color: #4F5665;
}
.product h2{
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
}

.engage li {
    list-style: none;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.product {
    margin-left: 125px;
}
.product ul{
    padding-left: 0;
}
.engage h2{
    padding-bottom: 18px;
}

.money li {
    list-style: none;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.money h2{
    padding-bottom: 18px;
}

footer.logo {

    margin-right: 243px;
}

.logo p {
    color: #4F5665;
    font-size: 16px;
    line-height: 30px;
    margin-top: 19px;
    max-width: 300px;

}

.year p {
    color: #AFB5C0;
}
.comm {
    padding: 0px;
}
.comm h2{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}
.comm p{
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}
.avatar{
    display: flex;
    align-items: center;
}
.avatar img{
    margin-right: 10px;
}
footer .menu{
display: flex;
}