
/* =Reset
-------------------------------------------------------------- */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    margin: 0;
    font-weight: 300;
    background: white;
    color: black;
    scroll-behavior: smooth;
}

body.stop-scroll {
    height: 100%;
    overflow: hidden;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: var(--current-color);
    transition: all 300ms;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    border: 0;
    border-top: 1px dotted var(--current-color);
    margin: 2.4em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

template {
    display: none;
}

/* =GLOBAL
----------------------------------------------- */

body,
button,
input,
select,
textarea {
    font-size: 18px;
    line-height: 1.2;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    padding-bottom: 18px;
    font-weight: normal;
    transition: all 300ms;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 19px;
}

hr {

}

/* =TEXT ELEMENTS
----------------------------------------------- */
p {
    margin-bottom: 16px;
    font-size: 20px;
    transition: all 300ms;
}

p:last-child {
    margin-bottom: 0;
}

strong {
    font-weight: 500;
}

cite, em, i {
    font-style: italic;
}

pre {
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
    border: 1px solid #EAEAEA;
}

pre, code, kbd, var, samp, tt {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 14px;
    line-height: 19px;
    white-space: pre-wrap;
}

abbr, acronym, dfn {
    border-bottom: 1px dotted #666666;
    cursor: help;
}

address {
    display: block;
    font-style: italic;
    margin: 0 0 15px;
}

ins {
    background: #F8F8F8;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

div {
    transition: all 150ms;
}

/* =SUPERSCRIPT AND SUBSCRIPT
----------------------------------------------- */
sup, sub {
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

dl {
    margin-bottom: 24px;
    font-size: 16px;
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dd {
    margin-bottom: 24px;
}

ul,
ol {
    /*list-style: none;*/
    padding-left: 19px;

}

ol {
    list-style: decimal inside;

}

ol li {
    margin-bottom: 0.6em;
    line-height: 1.2em;
}

li > ul,
li > ol {
    margin: 0 0 0 10px;
}

/* =BLOCKQUOTE
----------------------------------------------- */
blockquote {
    font-style: italic;
    font-weight: 200;

    padding: 0 2em;
    border-left: 4px solid var(--current-color);
    margin-bottom: 20px;
    color: #cdcdcd;
}

blockquote p {
    font-size: 1em;
}

blockquote em, blockquote i, blockquote cite {
}

blockquote cite {
    color: var(--current-color);
    font: 0.75em Roboto, sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

:root{
    --current-color: #F53838;
}
.logo img{
    width: 149px;
    height: 36.23px;
    margin: 50px 150px;
}
.menu{
    width: 93px;
    height: 19px;
    margin: 58.62px 456px;
    display: inline-flex;
}
.menu a{
    font-family: Rubik sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}